<div>
    <h1>Plantilla HBS : OK</h1>
</div>


{{!-- Me Traigo dos Scripts que hacen Referencia al uso de los sockets --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>