<div>
    Enviar Mensajes con Websockets!!!!
    <div>
        <p>
            <input id="textoEntrada" type="text" alt="Introduce un MEnsaje">
        </p>
        <p id="log"></p>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/messages.js"></script>